pre.xdebug-var-dump {
  direction: ltr;
  text-align: left;
  font-family: monospace; }

@page {
  size: auto;
  margin: 0; }
@media print {
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact; } }
@media print {
  html, body {
    height: 99%;
    page-break-after: avoid;
    page-break-before: avoid; } }
* {
  box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub,
sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 34px;
  color: #000;
  font-size: 16px;
  font-family: Tahoma, Arial, sans-serif; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

ul {
  list-style: none; }

ins {
  text-decoration: none;
  display: block; }

del {
  text-decoration: line-through;
  display: block; }

img {
  max-width: 100%;
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%; }
  table th, table td {
    vertical-align: middle;
    padding: 10px; }
  table.fci-fix-table {
    table-layout: fixed; }

.button {
  background: #ed3819;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 4px 16px !important;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .fci-res-table thead {
    display: none; }
  .fci-res-table td {
    width: 100%;
    display: block; } }
.fci-border-table {
  border: 1px solid #000; }
  @media (min-width: 576px) {
    .fci-border-table th, .fci-border-table td {
      border: 1px solid #000; } }
  @media (max-width: 576px) {
    .fci-border-table tbody tr:not(:last-child) td:last-child {
      border-bottom: 1px solid #000; } }

@media (max-width: 576px) {
  .total-table tbody tr:not(:last-child) td:last-child {
    display: table-cell;
    width: auto; }
  .total-table tbody tr:not(:last-child) th {
    border-bottom: 1px solid #000; } }
.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.container {
  position: relative;
  border: 1px solid transparent;
  padding: 10px; }

.section {
  margin: 0 5px; }
  .section .title {
    font-weight: bold;
    display: inline-block;
    margin: 0 5px; }
  .section .body {
    display: inline-block; }

.barcode > * {
  margin: auto; }
.barcode desc {
  display: none !important; }

@media (min-width: 576px) {
  .products-table td .title-item {
    display: none; } }
.products-table img.wp-post-image {
  max-width: 60px; }
.products-table .product-attributes li {
  display: inline-block; }

@media (max-width: 576px) {
  .products-table .row {
    display: none; }
  .products-table td {
    min-height: 54px;
    text-align: right; }
  .products-table td .title-item {
    font-weight: bold;
    float: left;
    margin-right: 5px; }
  .products-table tbody tr.even td {
    background: rgba(146, 146, 146, 0.25); }
  .products-table tfoot {
    display: none; }

  .rtl .products-table td {
    text-align: left; }
    .rtl .products-table td .title-item {
      float: right;
      margin-right: 0;
      margin-left: 5px; } }
.profit-wrapper {
  text-align: right;
  margin: 10px 0; }
  .profit-wrapper > div {
    display: inline-block;
    padding: 0 10px;
    line-height: 20px; }
  .profit-wrapper .profit {
    border-right: 1px solid #000; }

.fci-sign-table td {
  vertical-align: top; }
.fci-sign-table .shop-sign .title,
.fci-sign-table .signature-customer .title {
  display: block;
  margin-bottom: 10px; }

img.watermark {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 999; }

.print {
  display: flex;
  align-items: center;
  justify-content: center;
 
}
@media print {
  .print {
    display: none;
  }
}

.condensed {
  line-height: 20px; }
  .condensed table th, .condensed table td {
    padding: 1px; }
  .condensed .profit-wrapper {
    margin-top: 0;
    margin-bottom: 0; }

@media (max-width: 576px) {
  td.to-word {
    display: table-cell; } }
.rtl {
  text-align: right;
  direction: rtl; }
  .rtl .container {
    text-align: right;
    direction: rtl; }
  .rtl .profit-wrapper .profit {
    border-left: 1px solid #000;
    border-right: none; }

.invoice .view-3.container {
  padding: 0 !important; }
.invoice .view-3 .shop-detail {
  text-align: center;
  border-bottom: 3px solid #000; }
  .invoice .view-3 .shop-detail .section.url {
    margin-bottom: 10px; }
.invoice .view-3 .fci-title-invoice {
  background: #000;
  color: #FFF;
  font-size: 23px;
  padding: 10px 30px 5px 30px;
  display: inline-block;
  position: absolute;
  top: -35px;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 8px;
  width: 112px;
}
.invoice.condensed .view-3 .fci-title-invoice {
  top: -27px;
}
.invoice .view-3 .to-customer-table {
  margin: 20px 0; }
  .invoice .view-3 .to-customer-table td {
    padding-top: 0;
    vertical-align: top; }
  @media (max-width: 576px) {
    .invoice .view-3 .to-customer-table td {
      margin-bottom: 15px; } }
.invoice .view-3 .products-table {
  border: none;
  text-align: left; }
  .invoice .view-3 .products-table td.row span {
    display: inline-block;
    text-align: center;
    background: #000;
    color: #fff;
    border-radius: 8px;
    width: 34px; }
  @media (min-width: 576px) {
    .invoice .view-3 .products-table th, .invoice .view-3 .products-table td {
      border: none; }
    .invoice .view-3 .products-table th {
      border-bottom: 3px solid #000; }
    .invoice .view-3 .products-table tbody > tr:last-child td {
      border-bottom: 1px solid #000; }
    .invoice .view-3 .products-table tfoot th {
      border: none; } }
.invoice .view-3 .total-table {
  border: none;
  text-align: left;
  margin: 20px 0; }
  @media (min-width: 576px) {
    .invoice .view-3 .total-table {
      width: 50%;
      margin-right: auto; }
      .invoice .view-3 .total-table th, .invoice .view-3 .total-table td {
        border: none; } }
  @media (max-width: 576px) {
    .invoice .view-3 .total-table tbody tr:not(:last-child) td:last-child,
    .invoice .view-3 .total-table tbody tr:not(:last-child) th {
      border-bottom: none; } }
  .invoice .view-3 .total-table .final {
    background: #000;
    color: #fff; }
  .invoice .view-3 .total-table th.final {
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px; }
  .invoice .view-3 .total-table td.final {
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px; }
.invoice.rtl .view-3 .products-table {
  text-align: right; }
.invoice.rtl .view-3 .total-table th.final {
  border-radius: 0 8px 8px 0; }
.invoice.rtl .view-3 .total-table td.final {
  border-radius: 8px 0 0 8px; }
.invoice.condensed .view-3 .to-customer-table {
  margin-top: 3px;
  margin-bottom: 3px; }
.invoice.condensed .view-3 .total-table {
  margin-top: 3px;
  margin-bottom: 3px; }
.invoice.condensed .view-3 .customer-note, .invoice.condensed .view-3 .order-note {
  margin-top: 3px;
  margin-bottom: 3px; }

.section.print-date , .section.order-id , .section.order-status , .barcode{
  text-align: left;
}

@media (max-width: 576px) {
  .section.print-date , .section.order-id , .section.order-status , .barcode{
    text-align: center;
  }

}
.woocommerce-Price-currencySymbol{
  font-size: 12px;
}

